* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
.nav-title {
    font-weight: 800px;
    font-size: 45px;
}

nav {
    display: flex;
    /*Mary o nav k pashapashi rakhte*/
    justify-content: space-between;
    /*Mary o nav k 2 pole e pathate*/
    align-items: center;
    padding-right: 200px;
}

nav ul {
    display: flex;
    /*nav er vitorer shob pashapashi ante*/
    align-items: center;
    /*nav er vitorer shob horrizontally Center e ante*/
    
}

nav li {
    list-style: none;
    /*bullet point cancel korte*/
    margin: 50px;
    font-size: 20px;
}

.btn-primary {
    height: 64px;
    color: white;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold;
}
.btn-white{
    height: 64px;
    color:#FD6E0A;
    padding: 18px 35px;
    background-color: #FFF8F3;
    border:1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
/* Header Style */

.header{
    background-color: #FFF8F3;
    background-image:url(/images/header_bg.png),url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom,30px; /* (Right side theke kototuku shorano/right/left)  (top side theke kototuku shorano/top/bottom) */
    padding-left: 200px;
    padding-right: 38px;
}

/* Banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-sub-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    color:#181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 5px;
}

.banner-description {
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-me{
    margin: 130px auto;
    border-radius: 10px;
    background: #FFF8F3;
    border: 130px solid #fff8f3;
    
}

.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin:0px;
}

.section-description{
    width: 827px;
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px auto;
}
.info-container{
    display: flex;
    justify-content: space-around;
}

.info{
    text-align: center;
}
p,h4{
    margin: 0px 0px;
}
.what-i-do{
    margin: 130px auto;
}
.section-description-2{
    width: 909px auto;
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px auto;
}
.soft-skills{
    display: flex;
    justify-content: space-between;
}
.soft-skill{
    width: 267px;
    padding: 33px;
    margin-right: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.soft-detail{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.soft-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}
.last-section-main-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
margin-top: 130px;
margin-bottom: 113px;
}
.last-section-title{
color: #474747;
font-size: 30px;
font-weight: 700;
margin-bottom: 30px;
}
.degree{
color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 30px;
}
.university{
    color:#757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}
.skill-list{
    color: #757575;
font-size: 16px;
width: 511px;
font-weight: 400;
line-height: 28px;
margin-bottom: 30px;
}

.last-section-container{
display: flex;
justify-content: space-between;
}
.last-btn{
    display: block;
    margin: 50px auto;
}
footer{
    background-color: #FFF8F3;
    height: 780px;
}

.footer-section{
    display: flex;
 gap: 117px;
    width:1140px;
    margin:0 auto;
}
.footer-title{
color: #181818;
font-size: 35px;
font-weight: 700;
}
.footer-description{
    width: 562px;
}
.logos{
    display: flex;
}
img{
    margin-right: 30px;
}

input{
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    border-style: none;
    padding-left: 30px;
    font-size: 16px;
}